body {
    width:100vw;
    height: 100vh;
    overflow: hidden;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
   
}

/* #canvas1 {
    
    position: absolute;
    left: 0%;
    top:0%;
    width: 100%;
    height: 100%;
} */

#canvas1 {
    background: linear-gradient(to bottom, rgb(94, 94, 233), rgb(214, 224, 242));
    font-family: 'Staatliches', cursive;
    outline: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
}

#collisionDetection {
    opacity: 0;
}
#scoreCard {
    display: none;

    width: 40%;
    
    padding-left: 2vh;
    
    font-family: 'Gotham';
    color: #EFEFEF;
    font-size: 6vh;
}

#bullets {
    display: none;
    opacity: 0.95;
    position:relative;
    width: 40%;
    text-shadow: 2px 2px #000000AA;
    background-color: black;
    padding-left: 2vh;
    margin-top: -4vh;
    
    font-family: 'Gotham';
    color: #FFFFFF;
    font-size: 4vh;
}

#clouds, #bgimage{
    display: none;
}
