body {
    width:100vw;
    height: 100vh;
    overflow: hidden;
    /* -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;  */
    background-image: url('pageBg.jpg');
    background-repeat: no-repeat;
    filter:brightness(01);
    background-size: cover; /* Fit the background image into the window */
    display: flex;
    align-items: center;
    justify-content: center;

   
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('pageBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5); 
    z-index: -1;
}

/* #canvas1 {
    
    position: absolute;
    left: 0%;
    top:0%;
    width: 100%;
    height: 100%;
} */

#canvas1 {
    position: relative;
    background: linear-gradient(to bottom, rgb(94, 94, 233), rgb(214, 224, 242));
    font-family: 'Staatliches', cursive;
    outline: 5px solid black;
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
    z-index: 1px;
    margin: 0 auto;
    
}

#collisionDetection {
    position: absolute;
    opacity: 0;
}
/* #scoreCard {
    display: none;

    width: 40%;
    
    padding-left: 2vh;
    
    font-family: 'Gotham';
    color: #EFEFEF;
    font-size: 6vh;
}

#bullets {
    display: none;
    opacity: 0.95;
    position:relative;
    width: 40%;
    text-shadow: 2px 2px #000000AA;
    background-color: black;
    padding-left: 2vh;
    margin-top: -4vh;
    
    font-family: 'Gotham';
    color: #FFFFFF;
    font-size: 4vh;
} */

#clouds, #bgimage, #pageBg{
    display: none;
}
